header.main-header
  a(href='/').branding My Logo
  button(type='button').nav-toggle.js-toggle-nav
    svg.icon.icon-hamburger
      use(xlink:href='#icon-hamburger')
  nav.header-nav
    ul.unstyled-list
      li
        a(href='#') About
      li
        a(href='#') Store
      li
        a(href='#') Portfolio
      li
        a(href='#') Contact Us
